* {
    font-family: 'Fredoka One', cursive, serif;
    color: navy;
    font-weight: 200;

}

a {
    color: darkslateblue;
    font-size: 130%;
}

.menu-item {
    color: saddlebrown;
}

body {
    margin: 0;
    padding: 0;
}

#hello {
    color: orangered;
    font-size: 130%;
}

#logout {
    color: orangered;
    font-size: 100%;
    margin-left: 30px;
}

.top-bar {
    width: 100%;
    height: 80px;
    background-color: #12C586;
    border-bottom: 2px solid #A117C3;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

#index {
    position: absolute;
}

.top-bar h1 {
    padding: 10px;
    text-align: center;
    font-size: 3em;
    color: #A117C3;
    text-shadow: 2px 2px #FF0000;
    margin: 0;
    display: block;
    font-weight: bold;
}

#main {
    margin-left: 15px;
}
